astropy>=6.0.1
astroquery>=0.4.7
jwst>=1.14.0
matplotlib>=3.7.1
numpy<2
synphot>=1.4.0
stsynphot>=1.3.0
scipy>=1.13.0
stsci.stimage>=0.2.9
webbpsf>=1.2.1
webbpsf_ext>=1.2.0
pyklip>=2.7.1
ipywidgets>=8.1.5
lmfit>1.2.2

