astropy
astroquery
jdaviz
jwst
matplotlib
numpy
synphot
stsynphot
scipy
webbpsf
webbpsf_ext @ git+https://github.com/JarronL/webbpsf_ext.git@synphot
pyklip @ git+https://bitbucket.org/pyKLIP/pyklip.git@jwst_new
